version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 198870
      POSTGRES_DB: stepbystep
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'

  backend:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    environment:
      - DATABASE_URL=postgresql://postgres:198870@db:5432/stepbystep
    depends_on:
      - db
    restart: always

volumes:
  db_data:
